################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
/.vs/ProjectSettings.json
/BubbleTube/Debug/BubbleTube.exe
/.vs/slnx.sqlite
/.vs/BubbleTube/v15/ipch/601a6534578d8b2f.ipch
/.vs/BubbleTube/v15/Browse.VC.opendb
/.vs/BubbleTube/v15/Browse.VC.db
/BubbleTube/Debug/vc141.pdb
/BubbleTube/Debug/vc141.idb
/BubbleTube/Debug/vc.nativecodeanalysis.all.xml
/BubbleTube/Debug/pch.obj
/BubbleTube/Debug/pch.nativecodeanalysis.xml
/BubbleTube/Debug/NativeCodeAnalysis.read.1.tlog
/BubbleTube/Debug/BubbleTube.tlog/link.write.1.tlog
/BubbleTube/Debug/BubbleTube.tlog/link.read.1.tlog
/BubbleTube/Debug/BubbleTube.tlog/link.command.1.tlog
/BubbleTube/Debug/BubbleTube.tlog/CL.write.1.tlog
/BubbleTube/Debug/BubbleTube.tlog/CL.read.1.tlog
/BubbleTube/Debug/BubbleTube.tlog/CL.command.1.tlog
/BubbleTube/Debug/BubbleTube.tlog/BubbleTube.lastbuildstate
/BubbleTube/Debug/BubbleTube.pdb
/BubbleTube/Debug/BubbleTube.pch.codeanalysisast
/BubbleTube/Debug/BubbleTube.pch
/BubbleTube/Debug/BubbleTube.obj
/BubbleTube/Debug/bubbletube.nativecodeanalysis.xml
/BubbleTube/Debug/BubbleTube.log
/BubbleTube/Debug/BubbleTube.ilk
/BubbleTube/BubbleTube.vcxproj.filters
/BubbleTube/BubbleTube.vcxproj
